body {
	background: #ECEFF1;
}

#header {
	background: #263238;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}
#header h2 {margin:0}

.site-title {
	color: #FFF;
}

.site-title:hover {color: #607D8B}

.page-heading {color: #263238;}

#menu {
	padding: 5px;
	border-radius: 50%;
	color: #FFF;
}

#menu:hover {background: #455A64}

.mui-dropdown {
 	width: 30px;
	height: 30px;
}

a:hover {
	text-decoration: none;
	color: #455A64;
}
footer {
	background: #263238;
	color: #607D8B;
	clear: both;
}
footer a{color: #fff}
footer, .page-content{
	margin: 0 10px 10px 10px;
	padding: 5px;
}

.social-media-list, .post-list {
	list-style: none;
}

.social-media-list{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.social-media-list li {display: inline-block; margin-right: 10px;}

.page-content img {max-width:100%;height:auto;}

/**
 * Code formatting
 */
.share a {
	background-color: #263238;
	color: #FFF;
}

.share a {
	padding: 5px;
	border-radius: 5px;
	border: none;
}

.share a:hover{
	color: #263238;
	background: transparent;
	border: 1px solid #263238;
}
pre,
code {
	font-size: 15px;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
}

code {
	padding: 1px 5px;
	color: #eee;
}

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/* Pagination */
span.mui-btn-floating {
	background: #fff;
	color: #263238;
}
a.mui-btn-floating {
	color: #fff;
	background: #263238;
	text-align: center;
}

a.mui-btn-floating:hover, .urls_cloud a:hover{
	background: #fff !important;
	color: #263238  !important;
}
span.mui-btn-floating:hover {
	color: #fff !important;
	background: #263238  !important;
}
.tag_list {margin: 0; padding: 0;}
.tag_list li {
	list-style: none;
	display: inline;
}

.urls_cloud {
	list-style:none;
	margin-left: 0;
	padding-left: 0;
}

.urls_cloud li {
	display: inline-flex;
	margin: 2px;
}

.urls_cloud a {
	color: #fff;
	background: #263238;
	text-align: center;
	padding:6px;
	border-radius: 5px;
	border: 1px solid #263238;
}

.urls_cloud a, .tag_list_link {text-transform: capitalize;}

@media (min-width: 992px) {
	#sidebar { float: right; }
}

@media (max-width: 990px) {
	#sidebar { width: 100% }
}

h4+ul {
	display: none;
	list-style: none;
}

h4+ul.visible {display: block}

h4+ul li:before {
	font-family: fontello;
	color: #2196F3;
	margin-right: 5px;
	content: '\e80d';
}

h4+ul li:hover:before {
	color: #1976D2;
	content: '\e80e';
}

#results-container, #search-input {
	background: #263238;
	color: #fff;
}

#search-input {
	border-radius: 5px;
	padding: 5px;
	border: 1px solid;
}

#results-container {
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
}

#results-container a {
	color: #fff;
	width: 100%;
	display: block;
	padding: 3px
}
#results-container a:hover {
	background: #fff !important;
	color: #263238  !important;
}

p strong ~ p img {text-align: center}
