body {
	background: #ECEFF1;
}

#header {
	background: #263238;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}
#header h2 {margin:0}

.site-title {
	color: #FFF;
}

.site-title:hover {color: #607D8B}

.page-heading {color: #263238;}
#menu {
	padding: 5px;
	border-radius: 50%;
	color: #FFF;
}
#menu:before {
	transform: rotate(90deg);
}
#menu:hover {background: #455A64}

a:hover {
	text-decoration: none;
	color: #455A64;
}

footer, .page-content{
	margin: 0 10px 10px 10px;
	padding: 5px;
}

.social-media-list, .post-list {
	list-style: none;
}

.social-media-list{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.social-media-list li {display: inline-block; margin-right: 10px;}

@import
        "syntax-highlighting"
;