---
layout: default
title: Archivo
permalink: /archivo/
onmenu: true
---
<h1 class="title">Archivo</h1>
<article id="entry">
	<div class="entry-body">
		<ul style="list-style: none">
		{% for post in site.posts %}
			{% assign currentDate = post.date | date: "%Y" %}
			{% if currentDate != myDate %}
				{% unless forloop.first %}
						</ul>
					</div>
				</li>
				{% endunless %}
				<li>
					<h3 class="uk-accordion-title">{{currentDate}}</h3>
					<div class="uk-accordion-content">
						<ul style="list-style: none">
				{% assign myDate = currentDate %}
			{% endif %}
							<li><a href="{{ post.url }}"><span>{{ post.date | date: "%d/%m/%Y" }}</span> - {{ post.title }}</a></li>
			{% if forloop.last %}
						</ul>
					</div>
				</li>
			{% endif %}
		{% endfor %}
			</li>
		</ul>
	</div>
</div>
