---
layout: default
title: Mis proyectos
permalink: /proyectos/
onmenu: true
---
<h1 class="title">{{ page.title }}</h1>
	{% for page in site.pages %}
		{% if page.title and page.description %}
		<article class="entry">
			<div class="entry-body">
				<a href="{{ page.url | prepend: site.baseurl }}"><h3 class="uk-article-title">{{ page.title }}</h3></a>
				<p>{{ page.description }}</p>
				<p><b>Plataformas:</b> {{ page.platforms | join: ', '}}</p>
			</div>
		</article>
		{% endif %}
	{% endfor %}
