<header id="header"class="header-shadow mui-appbar">
	<nav class="mui-container-fluid" id="appbar">
		<table width="100%">
			<tr style="vertical-align:middle;">
				<td class="mui-appbar-height"><h2><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h2></td>
				<td class="mui-appbar-height" align="right">
					<div class="mui-dropdown">
						<a class="icon-dot-3" data-mui-toggle="dropdown" id="menu"></a>
						<ul class="mui-dropdown-menu mui-dropdown-menu-right">
							{% for page in site.pages %}
								{% if page.title %}
								<li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</td>
			</tr>
		</table>
	</nav>
</header>
