{% if.site.rss%}
	<a href="{{ '/feed.xml' | absolute_url }}" class="icon-rss"></a>
{% endif %}
{% if site.codeberg %}
	<a href="{{site.codeberg}}" class="icon-codeberg" target="_black" title="Codeberg"></a>
{% endif %}
{% if site.facebook %}
	<a href="{{site.facebook}}" class="icon-facebook" target="_black" title="Facebook"></a>
{% endif %}
{% if site.github %}
	<a href="{{site.github}}" class="icon-github" target="_black" title="Github"></a>
{% endif %}
{% if site.gitlab %}
	<a href="{{site.gitlab}}" class="icon-gitlab" target="_black" title="GitLab"></a>
{% endif %}
{% if site.git %}
	<a href="{{site.git}}" class="icon-git" target="_black" title="Git"></a>
{% endif %}
{% if site.instagram %}
	<a href="{{site.instagram}}" class="icon-instagram" target="_black" title="Instagram"></a>
{% endif %}
{% if site.lemmy %}
	<a href="{{site.lemmy}}" class="icon-lemmy" target="_black" title="Lemmy"></a>
{% endif %}
{% if site.linkedin %}
	<a href="{{site.linkedin}}" class="icon-linkedin" target="_black" title="Linkedin"></a>
{% endif %}
{% if site.mastodon %}
	<a href="{{site.mastodon}}" class="icon-mastodon" target="_black" title="Mastodon"></a>
{% endif %}
{% if site.matrix %}
	<a href="{{site.matrix}}" class="icon-matrix" target="_black" title="Matrix"></a>
{% endif %}
{% if site.peertube %}
	<a href="{{site.peertube}}" class="icon-peertube" target="_black" title="PeerTube"></a>
{% endif %}
{% if site.pinterest %}
	<a href="{{site.pinterest}}" class="icon-pinterest" target="_black" title="Pinterest"></a>
{% endif %}
{% if site.pixelfed %}
	<a href="{{site.pixelfed}}" class="icon-pixelfed" target="_black" title="Pixelfed"></a>
{% endif %}
{% if site.reddit %}
	<a href="{{site.reddit}}" class="icon-reddit" target="_black" title="Reddit"></a>
{% endif %}
{% if site.spotify %}
	<a href="{{site.spotify}}" class="icon-spotify" target="_black" title="Spotify"></a>
{% endif %}
{% if site.steam %}
	<a href="{{site.steam}}" class="icon-steam-squared" target="_black" title="Steam"></a>
{% endif %}
{% if site.telegram %}
	<a href="{{site.telegram}}" class="icon-telegram" target="_black" title="Telegram"></a>
{% endif %}
{% if site.twitch %}
	<a href="{{site.twith}}" class="icon-twitch" target="_black" title="Twitch"></a>
{% endif %}
{% if site.twitter %}
	<a href="{{site.twitter}}" class="icon-twitter" target="_black" title="Twitter/X"></a>
{% endif %}
{% if site.vimeo %}
	<a href="{{site.vimeo}}" class="icon-vimeo" target="_black" title="Vimeo"></a>
{% endif %}
{% if site.x %}
	<a href="{{site.x}}" class="icon-twitter" target="_black" title="Twitter/X"></a>
{% endif %}
{% if site.youtube %}
	<a href="{{site.youtube}}" class="icon-youtube" target="_black" title="Youtube"></a>
{% endif %}
